vti_encoding:SR|utf8-nl
vti_author:SR|Manifold\\Sancar
vti_modifiedby:SR|Manifold\\Sancar
vti_timelastmodified:TR|14 Nov 2012 01:32:06 -0000
vti_timecreated:TR|12 Nov 2012 22:56:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|links/default.html master.dwt about_me/default.html research/default.html contact/default.html resume/default.html default.html index.html
vti_syncofs_jesse-ssh.ams.jhu.edu\:22/%2fhome/adali/public_html/:TW|13 Nov 2012 02:02:23 -0000
vti_syncwith_jesse-ssh.ams.jhu.edu\:22/%2fhome/adali/public_html/:TX|12 Nov 2012 22:56:28 -0000
vti_syncofs_jesse-ssh.ams.jhu.edu\:22/%2fhome/adali/public_html:TW|19 Jan 2014 04:06:56 -0000
vti_syncwith_jesse-ssh.ams.jhu.edu\:22/%2fhome/adali/public_html:TX|14 Nov 2012 01:32:06 -0000
vti_nexttolasttimemodified:TW|12 Nov 2012 22:56:28 -0000
vti_cacheddtm:TX|14 Nov 2012 01:32:06 -0000
vti_filesize:IR|2684
vti_cachedlinkinfo:VX|Q|layout.css S|../images/leftphoto.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/leftphoto.jpg
